.container.wide-container
  .composite.wide-container{style: "display: inline-block"}
    .left{style: "display: inherit; width: 49%"}
      .text-center= Yt::Video.new(id: @video.youtube_id).embed_html.html_safe
    .right{style: "display: inherit; width: 49%; overflow: hidden"}
      %table.table.text-center
        %tbody
          %tr
            %td.text-center.bold= @video.title
          %tr
            %td.bold= "Published at #{@video.published_at}"
          %tr
            %td.bold= "#{@video.view_count} views"
          %tr
            %td.bold= "#{@video.comment_count} comments"
          %tr
            %td.bold= "#{@video.like_count} likes"
          %tr
            %td.bold= "#{@video.dislike_count} dislikes"
.container.wide-container
  .graph-md{style: "width: 49%; position: relative; display: inline-block"}
    %canvas#new-likes{style: "position: relative; display: inline-block;"}
  .graph-md{style: "width: 49%; position: relative; display: inline-block"}
    %canvas#new-visualizations{style: "position: relative; display: inline-block;"}
  %table.table.fz-table
    %tbody
      %tr
        %td= @video.description

:javascript
  $(document).ready(function() {
    drawVideoViewsFluctuations($("#new-visualizations"), "#{@video.id}")
    drawVideoLikesFluctuations($("#new-likes"), "#{@video.id}")
  })
